
/* each image takes 30% of the screen, 30%*3 = 90% --> 10%/6*/
img{
    width: 28%;
    margin: calc(16%/6);
}

nav{
    text-transform: uppercase;
    border-bottom: 2px solid #f1f1f1;
    width: 30%;
    margin-left: calc(16%/6);
    padding: 20px 0px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1em;
    padding: 1.2em;
}